@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap')
@font-face
   font-family: 'Gordita'
   src: url('../../../../lib/fonts/Gordita/Gordita Bold.woff')
   font-weight: 600

@font-face
   font-family: 'Gordita'
   src: url('../../../../lib/fonts/Gordita/Gordita Medium.woff')
   font-weight: 400
@font-face
   font-family: 'Gordita'
   src: url('../../../../lib/fonts/Gordita/Gordita Light.woff')
   font-weight: 300

$font: "Roboto", sans-serif

$primary: rgb(69, 202, 255)
$secondary: #66c37c

body
   font-family: $font

a
   text-decoration: none
section
   background: rgb(69,202,255)
   background: linear-gradient(132deg, rgba(69,202,255,1) 0%, rgba(0,170,238,1) 100%)
   min-height: 100vh
   width: 100%

.navbar
   background-color: #fff
   padding: 0
   ul
      display: flex
      justify-content: center
      list-style-type: none
      overflow-x: auto
      overflow-y: hidden
      white-space: nowrap
      margin-bottom: 0
      padding: 0
      margin-right: auto
      margin-left: auto
      &::-webkit-scrollbar
         display: none

      li
         position: relative
         vertical-align: top
         display: inline-block
         padding: 0
         margin: 0
         background-color: #fff
         height: 84px
         padding-bottom: 20px
         .item
            color: #8a8c91
            display: flex
            flex-direction: column
            width: 145px
            text-align: center
            padding-top: 16px
            padding-bottom: 16px

            &:hover
               background-color: #edf3ff

            svg
               fill: #8a8c91
               color: #8a8c91
               margin-right: auto
               margin-left: auto
               display: block
               width: auto
               overflow: hidden
               height: 24px
               width: 24px
               margin-bottom: 8px
            small
               font-size: 12px

.download
   .wrapper
      position: relative
      display: flex
      justify-content: center
      align-items: center
      .content
         margin-top: 50px
         text-align: center
         h4
            word-break: break-word
            padding-top: 50px
            padding-left: 15px
            padding-right: 15px
            font-size: 40px
            color: #fff
            font-weight: 600
            font-family: 'Gordita', sans-serif
            @media screen and ( max-width: 576px )
               font-size: 32px
            @media screen and (max-width: 300px  )
               font-size: 28px

            a
               transition: 0.2s
               color: #daecff
               &:hover
                  color: #daecff

         .button-group
            padding-top: 15%
            padding-bottom: 8px
            .btn
               transition: all 0.4s ease
               margin: 0.75rem
               height: 7em
               width: 7em
               background-color: #fff
               color: rgba(69,202,255,1)
               padding-top: 15px
               border-radius: 0.5rem
               &:hover
                  transform: translateY(-8px)
                  box-shadow: 0 .9rem 1rem rgba(0,0,0,.15)
               svg
                  font-size: 3rem
         .show_other
            font-size: small
            transition: 0.4s ease
            color: #f8f8f8
            opacity: 0.6
            &:hover
               opacity: 1

.page-2
   pointer-events: none
   z-index: -1

.slide-out
   animation: slide-out 0.5s forwards

.slide-in
   animation: slide-in 0.5s forwards

@keyframes slide-in
   0%
      opacity: 0
      // transform: translate(0, -50%)

   100%
      pointer-events: auto
      opacity: 1
      z-index: 1
      // transform: translate(-50%, -50%)

@keyframes slide-out
   0%
      pointer-events: auto
      opacity: 1
      z-index: 1
      // transform: translate(-50%, -50%)

   100%
      z-index: -1
      opacity: 0
      // transform: translate(0, -50%)

.container-fluid

   footer
      transition: 300ms ease-in-out
      color: #caced1 !important

      a
         color: #caced1
         text-decoration: none

         &:hover
            color: $secondary

      p
         font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important

      h3
         font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important

      .color-text
         color: #757575 !important

      li
         margin-top: 20px
         margin-bottom: 20px

      .brand
         font-size: 24px
         transition: 0.4s ease

      .row-1
         background-color: #1C6785

      .row-2
         background-color: #187094

      .social
         font-size: 1rem

         a
            text-decoration: none
            color: #caced1
            letter-spacing: 8px
            font-size: 1.2rem

            &:hover
               color: $secondary
