@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('../../../lib/fonts/Gordita/Gordita.css');

@import "../layout/navbar/navbar";
@import "../layout/footer/footer";

//? Not supported devices: Microsoft Lumia 550, JioPhone 2
// Who the fuck owns some shit like that

:root {
   --main-color: rgb(69, 202, 255);
   --main-color-deeper: rgba(0, 170, 238, 1);
   --main-color-deep: #187094;
   --main-color-dark: #1C6785;

   --secondary-color: #66c37c;

   --font: #323232;
   --background: #fff;


   --aside-background: #fff;
   --aside-border: #efefef;
   --aside-item-active: #efefef;
   --aside-accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23"+ var(--main-color) + "'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

@media (prefers-color-scheme: dark) {
   :root {
      --main-color: #d94f70;
      --main-color-deeper: #a02f4b;
      --main-color-deep: #a01d42;
      --main-color-dark: #8b0b32;

      --secondary-color: #d94f70;

      --font: #fff;
      --background: #282828;

      --aside-background: #191919;
      --aside-border: var(--background);
      --aside-item-active: rgba(0, 0, 0, 0.2);
      --aside-accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23"+ var(--main-color) + "'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
   }
}

body {
   font-family: 'Gordita', sans-serif;
   color: var(--font);
   background-color: var(--background);
}

.btn-primary,
.btn-secondary,
.btn-white {
   transition: 0.3s ease-in-out;
   font-family: 'Gordita',
      sans-serif;
   font-weight: 500;
   border-radius: 3px;
   padding: 7px 18px;
   border: none;

   &:focus {
      border: none;
      box-shadow: none;
   }
}

.btn-primary {
   background-color: var(--main-color);
   color: #fff;
   border: 2px solid var(--main-color);

   &:hover {

      background-color: #fff;
      color: var(--main-color);
      border-color: var(--main-color);
   }

   &:focus {
      border: 2px solid var(--main-color);
   }
}

.btn-secondary {
   background-color: var(--secondary-color);
   color: #fff;

   &:hover {
      color: var(--secondary-color);
      background-color: #fff;
   }
}

.btn-white {
   background-color: #fff;

   &:hover {
      background-color: rgb(226, 207, 207);
   }
}

header {
   overflow: hidden;
   position: relative;
   background: var(--main-color);
   background: linear-gradient(132deg, var(--main-color) 0%, var(--main-color-deeper) 100%);
   min-height: 90vh;

   @media (max-width: 575.98px) {
      min-height: 100vh;
   }

   .container {
      padding-top: 250px;

      @media (max-width: 1199.98px) {
         padding-top: 150px;
      }

      @media (max-height: 655.98px) {
         padding-top: 100px;
      }

      @media (max-height: 560.98px) {
         padding-top: 60px;
      }

      .row {
         @media (max-width: 1199.98px) {
            flex-direction: column-reverse;
         }

         .description {
            @media (max-width: 1199.98px) {
               text-align: center;
            }

            .title {
               font-weight: bold;
               color: #fff;
               font-size: 48px;

               @media (max-width: 575.98px) {
                  font-size: 42px;
               }

               @media (max-width: 497.98px) {
                  font-size: 32px;
               }

               @media (max-width: 341.98px) {
                  font-size: 22px;
               }
            }

            .button-group {
               padding-top: 5rem;

               @media (max-width: 350.98px) {
                  display: flex;
                  flex-direction: column;
                  padding-top: 2rem;

                  .learn {
                     margin-top: 10px;
                  }
               }

               .get {
                  margin-right: 5px;

                  @media (max-width: 575.98px) {
                     margin-right: 2.5px;
                     padding: 0.375rem 0.75rem;
                  }
               }

               .learn {
                  margin-left: 5px;

                  @media (max-width: 575.98px) {
                     margin-left: 2.5px;
                     padding: 0.375rem 0.75rem;
                  }
               }
            }
         }

         .col-xl-5 {

            .image-wrapper {
               position: relative;

               @media (max-width: 1199.98px) {
                  display: none;
               }

               img.grey {
                  filter: grayscale(1);
                  opacity: .5;
                  position: absolute;
                  top: -100px;
                  right: 20px;
               }

               img:not(.grey) {
                  filter: grayscale(0.2);
                  position: absolute;
                  top: -120px;
                  right: 0;
               }
            }

            .mobile-image-wrapper {
               border: 1px solid #fff;
               width: 10rem;
               height: 10rem;
               border-radius: 50%;
               margin: 0px auto .75rem auto;

               // If it's an svg (Font Awesome)
               font-size: 5rem;
               line-height: 9rem;
               color: #fff;
               text-align: center;

               // If you are using background-image
               background-image: url(../image/header/header-image.png);
               background-repeat: no-repeat;
               background-position: 50% 0%;
               background-size: 10rem;

               @media (max-height: 650.98px) {
                  width: 8rem;
                  height: 8rem;
               }

               // Just for now
               svg {
                  display: none;
               }

               @media (min-width: 1200px) {
                  display: none;
               }
            }
         }
      }
   }

   .divider {
      fill: var(--background);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 0;

      // svg min height 21px
      @media (max-width: 575.98px) {
         display: none !important;
      }

      @media (max-height: 575.98px) {
         display: none !important;
      }

      svg {
         height: 25px;

         @media (max-width: 991.98px) {
            height: 21px;
         }
      }
   }
}

.about {
   padding-top: 120px;
   padding-bottom: 120px;

   text-align: center;



   p {
      color: #666;
      font-style: italic;
      font-weight: 300;
   }

   .about-icon {
      border: 1px solid var(--main-color);
      font-size: 2rem;
      line-height: 3.75rem;
      color: var(--main-color);
      text-align: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0px auto 0.75rem auto;
   }
}


.comment {
   padding: 139px 0px 144px 0px;

   @media (max-width: 1024px) {
      padding: 50px 30px 50px 30px;
   }

   @media (max-width: 767px) {
      padding: 30px 15px 30px 15px;
   }

   background-color: #f8f8f8;
   background: var(--main-color);
   text-align: center;
   color: #fff;

   h2 {
      font-weight: 400;
      font-size: 34px;
      padding-bottom: 65px;

      @media (max-width: 1199.98px) {
         font-size: 24px;
      }
   }

   img {
      border-radius: 50%;
      height: 128px;
      width: 128px;
   }

   p {
      padding-top: 25px;
      font-weight: 500;
   }

   .carousel-control {
      opacity: 0.9;

      &:hover {
         opacity: 0.75;
      }

      @media (max-width: 767.98px) {
         &.touch {
            display: none;
         }
      }
   }
}

.demo {
   overflow-y: hidden;
   padding: 139px 0px 144px 0px;

   @media (max-width: 1024px) {
      padding: 50px 30px 50px 30px;
   }

   @media (max-width: 767px) {
      padding: 30px 15px 30px 15px;
   }

   text-align: center;

   h2 {
      padding-bottom: 25px;

      a {
         color: var(--secondary-color);
         text-decoration: none;
      }
   }

   a.btn {
      border: 2px solid var(--secondary-color);

      &:hover {
         background-color: var(--background);
      }
   }
}