@import "./var";
@import "./inherit";
@import "../layout/navbar/navbar";
@import "../layout/footer/footer";
@import "./header";

.about {
   padding-top: 120px;
   padding-bottom: 120px;

   text-align: center;



   p {
      color: var(--font-dark);
      font-style: italic;
      font-weight: 300;
   }

   .about-icon {
      border: 1px solid var(--main-color);
      font-size: 2rem;
      line-height: 3.75rem;
      color: var(--main-color);
      text-align: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0px auto 0.75rem auto;
   }
}


.comment {
   padding: 139px 0px 144px 0px;

   @media (max-width: 1024px) {
      padding: 50px 30px 50px 30px;
   }

   @media (max-width: 767px) {
      padding: 30px 15px 30px 15px;
   }

   background-color: #f8f8f8;
   background: var(--main-color);
   text-align: center;
   color: #fff;

   h2 {
      font-weight: 400;
      font-size: 34px;
      padding-bottom: 65px;

      @media (max-width: 1199.98px) {
         font-size: 24px;
      }
   }

   img {
      border-radius: 50%;
      height: 128px;
      width: 128px;
   }

   p {
      padding-top: 25px;
      font-weight: 500;
   }

   .carousel-control {
      opacity: 0.9;

      &:hover {
         opacity: 0.75;
      }

      @media (max-width: 767.98px) {
         &.touch {
            display: none;
         }
      }
   }
}

.demo {
   overflow-y: hidden;
   padding: 139px 0px 144px 0px;

   @media (max-width: 1024px) {
      padding: 50px 30px 50px 30px;
   }

   @media (max-width: 767px) {
      padding: 50px 15px 50px 15px;
   }

   text-align: center;

   h2 {
      padding-bottom: 25px;

      a {
         color: var(--secondary-color);
         text-decoration: none;
      }
   }

   a.btn {
      border: 2px solid var(--secondary-color);

      &:hover {
         background-color: var(--background);
      }
   }
}