@font-face {
    font-family: 'Gordita';
    src: url('http://localhost/lib/fonts/Plain/Plain-Bold.woff');
    font-weight: bold;
}

body {
    &:before {
        position: absolute;
        content: "";
        z-index: 1050;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .5);
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease-in-out;
    }

    &.show-sidebar {
        overflow: hidden !important;

        &:before {
            opacity: 1;
            visibility: visible;
        }

        &:not(.touch) {
            padding-right: var(--navbar-width);
        }
    }
}

.navbar {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    // padding: 0.5rem 2rem !important;
    transition: 0.5s;
    background-color: transparent;
    height: 60px;

    @media (max-width: 575.98px) {
        .container {
            margin-right: 12px;
            margin-left: 12px;
        }
    }

    .nav-wrapper {
        position: relative;
        padding: 0;
        display: flex;
        justify-content: space-between;

        .menu-toggle {
            height: 31px;
            width: 31px;
            padding-top: 4px;
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Plain', sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            text-align: center;
            align-items: center;
            display: flex;
            // height: 38px;
            // width: 38px;
            // background-image: url("http://localhost/.apps/yio/image/logo/transparent.png");
            // background-size: 38px;
        }

        .get {
            text-decoration: none;

            @media (max-width: 310.98px) {
                display: none;
            }
        }
    }
}

.menu-toggle svg {
    color: #fff;
    height: 31px;
    width: 31px;
}

aside {
    height: 100vh;
    min-height: 580px;
    width: 300px;
    left: 0;
    z-index: 1500;
    position: fixed;
    transform: translateX(-100%);
    background-color: var(--aside-background);
    transition: .5s transform cubic-bezier(.23, 1, .32, 1);

    @media (max-width: 575.98px) {
        width: 100%;
    }

    .show-sidebar & {
        transform: translateX(0%);
    }

    .show-sidebar & {
        box-shadow: 10px 0 30px 0 rgba(#000, .1);
    }

    .side-inner {

        &::-webkit-scrollbar {
            display: none;
        }

        padding: 50px 0;
        height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        @media (max-height: 580px) {
            padding-bottom: 0;
        }

        .close {
            position: absolute;
            top: 2.5px;
            left: 2.5px;

            @media (max-width: 575.98px) {
                top: 2.5px;
                right: 2.5px;
                left: auto;
            }

            svg {
                color: #8b8b8b;
            }
        }

        .details {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid var(--aside-border);

            .image {
                height: 7rem;
                width: 7rem;
                margin: 0 auto 20px auto;
                border-radius: 50%;
                background-image: url(http://localhost/.apps/yio/image/header/header-image.png);
                background-repeat: no-repeat;
                background-position: 50% 0%;
                background-size: 7rem;
            }

            .app-name {
                font-size: 18px;
                margin-bottom: 0;
            }

            .credits {
                font-size: 14px;
                font-style: italic;
                color: var(--font-dark);
            }

            .btn {
                margin-top: 2rem;


                &:hover {
                    background-color: var(--aside-background);
                }
            }
        }

        .nav-menu {

            ul {

                &,
                li {
                    padding: 0;
                    margin: 0px;
                    list-style: none;
                }

                li {
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 10px 30px;
                        color: #8b8b8b;
                        position: relative;
                        transition: .3s padding-left ease;

                        &:active,
                        &:focus,
                        &:hover {
                            outline: none;
                        }

                        &:hover {
                            background: var(--aside-item-active);
                            color: #8b8b8b;

                            &:before {
                                width: 4px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }

                    &.active {
                        a {
                            background: var(--aside-item-active);
                            color: var(--main-color);
                        }
                    }
                }
            }

            ul.language {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;

                @media (max-height: 580px) {
                    position: static;
                }

                .accordion-button {
                    background-color: var(--aside-background);
                    border-radius: 0;
                    border-color: var(--aside-border);
                    border-right: 0;
                    border-left: 0;
                    color: #8b8b8b;

                    &:not(.collapsed) {
                        color: var(--main-color);
                        background-color: var(--aside-background);

                        &:after {
                            background-image: var(--aside-accordion-button);
                        }
                    }

                    &:after {
                        background-image: var(--aside-accordion-button);
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }

                .accordion-body {
                    padding: 0;

                    ul {
                        background-color: var(--aside-background);

                        li {
                            a {
                                padding: 15px 30px;
                            }

                            &.selected a {
                                color: var(--main-color);
                                background-color: var(--aside-item-active);
                            }
                        }
                    }
                }
            }
        }
    }



    .sl-flag {
        display: inline-block;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        width: 15px;
        height: 15px;
        background: #aaa;
        background-position: 50% !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: 50%;
        position: relative;
        top: 2px;
        overflow: hidden;
    }

    .flag-de {
        background: url("http://localhost/.apps/yio/image/flags/de.png");
    }

    .flag-en {
        background: url("http://localhost/.apps/yio/image/flags/en.png");
    }
}