@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Regular.woff2") format("woff2"), url("../../../lib/fonts/Plain/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Light.woff2") format("woff2"), url("../../../lib/fonts/Plain/Plain-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../../../lib/fonts/Plain/Plain-Bold.woff2") format("woff2"), url("../../../lib/fonts/Plain/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Plain", sans-serif;
}

nav {
  background-color: #ffffff;
  height: 72px;
}

nav a {
  color: #323232 !important;
}

nav .navbar-brand {
  position: absolute;
  left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100% !important;
}

nav .nav .nav-item {
  padding: 8px 10px;
}

nav .nav .nav-item .nav-link {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav .nav .nav-item .nav-link:hover:not(.active) {
  color: #006de2 !important;
}

nav .nav .nav-item .active {
  color: #03a9f4 !important;
}

section {
  padding-top: 72px;
  min-height: 100vh;
}

section .container {
  padding-top: 110px;
  padding-bottom: 110px;
}

.keybinds {
  background-color: #006de2;
  color: #ffffff;
}

.keybinds .key {
  min-height: 6rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.keybinds .key button {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  width: 4.5rem;
  border: 2.5px solid #ffffff;
  background-color: transparent;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: .4rem;
  pointer-events: none;
}

.keybinds .key button span {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
}

.keybinds .key p {
  margin-left: 2rem;
  width: 60%;
  font-size: 1.1rem;
  height: 4.5rem;
}

.key-lg {
  width: 5rem !important;
}

.key-plus {
  margin-right: 1.1rem;
  margin-left: 1.1rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.key-plus i::before {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.install {
  background-color: #03a9f4;
  color: #ffffff;
  text-align: center;
}

.install h1, .install h2, .install h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.2rem;
  padding-bottom: 2rem;
}

.install h2 {
  font-size: 3rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.install h2:hover {
  opacity: 0.8;
}

.install h3 {
  padding-top: 3rem;
  font-size: 1.5rem;
  text-transform: none;
}

.install a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=docs.css.map */