@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("../../../../../lib/fonts/Gordita/Gordita.css");
body {
  font-family: 'Gordita', sans-serif;
  background-color: #30383B;
  color: #fff;
}

.btn-primary,
.btn-secondary,
.btn-white {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 7px 18px;
  border: none;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-white:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: #45CAFF;
  color: #fff;
  border: 2px solid #45CAFF;
}

.btn-primary:hover {
  color: #fff;
  background-color: #45CAFF;
  border-color: #45CAFF;
  opacity: 0.8;
}

.btn-primary:focus {
  border: 2px solid #45CAFF;
}

.btn-secondary {
  background-color: #66c37c;
  color: #fff;
}

.btn-secondary:hover {
  color: #66c37c;
  background-color: #fff;
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  background-color: #e2cfcf;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.wrapper aside {
  width: 15%;
}

.wrapper aside .profile {
  background-color: #43BBEB;
  min-height: 85px;
  padding: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper aside .profile .image img {
  height: 65px;
  width: 65px;
  float: left;
  border-radius: .15rem;
}

.wrapper aside .profile .user-content {
  display: inline-block;
  margin: 0 0 0 10px;
}

.wrapper aside .profile .user-content .user-name {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}

.wrapper aside .profile .user-content .user-name a {
  text-decoration: none;
  color: #fff;
}

.wrapper aside .profile .user-content .user-details {
  font-size: 12px;
  color: #d1e8e3;
}

.wrapper aside .action {
  padding: 25px 45px;
}

.wrapper aside .action a {
  width: 100%;
}

.wrapper aside .navigation {
  text-align: left;
}

.wrapper aside .navigation p {
  padding: 0 20px;
}

.wrapper aside .navigation hr {
  margin: 0;
  color: #f8f8f8;
}

.wrapper aside .navigation ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper aside .navigation ul li {
  display: inline-block;
  width: 100%;
}

.wrapper aside .navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 100%;
  line-height: 45px;
  padding: 0 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: 300;
}

.wrapper aside .navigation ul li a i {
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
  height: 25px !important;
  width: 25px !important;
  padding-right: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.wrapper aside .navigation ul li a:hover {
  color: #45CAFF;
}

.wrapper aside .navigation ul li a:hover i {
  color: #45CAFF;
}

.wrapper aside .navigation ul li a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper aside .navigation ul li a.active {
  color: #45CAFF;
}

.wrapper aside .navigation ul li a.active i {
  color: #45CAFF;
}

.wrapper .main {
  width: 85%;
}

.wrapper .main header {
  min-height: 85px;
  background-color: #45CAFF;
}

.wrapper .main header .navbar {
  min-height: 85px;
}

.wrapper .main header .navbar a.type {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.wrapper .main header .navbar form input {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.wrapper .main header .navbar form .btn {
  background-color: #43BBEB;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.wrapper .main header .navbar form .btn i {
  color: #fff;
}

.wrapper .main .head {
  padding: 20px;
}

.wrapper .main .head div.couple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main .head dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .head dl dt {
  padding-right: 5px;
}

.wrapper .main .body {
  padding: 20px;
}

.wrapper .main .body p {
  word-break: break-all;
}

.wrapper .main .body table {
  border: 1px solid #3A3A3A;
  width: 100%;
}

.wrapper .main .body table tbody tr {
  text-align: left;
  border-top: 1px solid #3A3A3A;
  color: #272727;
  color: #fff;
  cursor: pointer;
}

.wrapper .main .body table tbody tr:hover {
  background-color: #3B484E;
}

.wrapper .main .body table tbody tr th,
.wrapper .main .body table tbody tr td {
  padding: 12px;
}

.wrapper .main .body table tbody tr th.marked i,
.wrapper .main .body table tbody tr td.marked i {
  color: #d5d5d5;
}

.wrapper .main .body table tbody tr th.marked i:hover,
.wrapper .main .body table tbody tr td.marked i:hover {
  color: #e0e400;
}

.wrapper .main .body table tbody tr th.marked.active i,
.wrapper .main .body table tbody tr td.marked.active i {
  color: #e0e400;
}
/*# sourceMappingURL=main.css.map */