@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('../../../../../lib/fonts/Gordita/Gordita.css');
$primary: #45CAFF;
$pricondray: #56c6be;
$secondary: #66c37c;

body {
    font-family: 'Gordita', sans-serif;
    background-color: #30383B;
    color: #fff;
}

.btn-primary,
.btn-secondary,
.btn-white {
    transition: 0.3s ease-in-out;
    font-family: 'Gordita',
        sans-serif;
    font-weight: 500;
    border-radius: 3px;
    padding: 7px 18px;
    border: none;

    &:focus {
        border: none;
        box-shadow: none;
    }
}

.btn-primary {
    background-color: $primary;
    color: #fff;
    border: 2px solid $primary;

    &:hover {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
        opacity: 0.8;
    }

    &:focus {
        border: 2px solid $primary;
    }
}

.btn-secondary {
    background-color: $secondary;
    color: #fff;

    &:hover {
        color: $secondary;
        background-color: #fff;
    }
}

.btn-white {
    background-color: #fff;

    &:hover {
        background-color: rgb(226, 207, 207);
    }
}

.wrapper {
    display: flex;
    width: 100%;

    aside {
        width: 15%;

        .profile {
            background-color: #43BBEB;
            min-height: 85px;
            padding: 10px;
            color: #fff;
            display: flex;

            .image img {
                height: 65px;
                width: 65px;
                float: left;
                border-radius: .15rem;
            }

            .user-content {
                display: inline-block;
                margin: 0 0 0 10px;

                .user-name {
                    margin-top: 8px;
                    font-size: 15px;
                    font-weight: 300;
                    margin-bottom: 0;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .user-details {
                    font-size: 12px;
                    color: #d1e8e3;
                }
            }
        }

        .action {
            padding: 25px 45px;

            a {
                width: 100%;
            }
        }

        .navigation {
            text-align: left;

            p {
                padding: 0 20px;
            }

            hr {
                margin: 0;
                color: #f8f8f8;
            }

            ul {
                display: inline-block;
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    display: inline-block;
                    width: 100%;

                    a {
                        i {
                            padding-top: 10px;
                            color: #fff;
                            font-size: 16px;
                            height: 25px !important;
                            width: 25px !important;
                            padding-right: 10px;
                            transition: 0.2s ease;
                        }

                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        width: 100%;
                        line-height: 45px;
                        padding: 0 20px;
                        transition: 0.2s ease;
                        font-weight: 300;

                        &:hover {
                            color: $primary;

                            i {

                                color: $primary;
                            }
                        }

                        &:focus {
                            box-shadow: none;
                        }

                        &.active {
                            color: $primary;

                            i {

                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        width: 85%;

        header {
            min-height: 85px;
            background-color: $primary;

            .navbar {
                min-height: 85px;

                a.type {
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.2rem;
                }

                form {
                    input {
                        margin-right: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    .btn {
                        background-color: #43BBEB;
                        margin-left: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;

                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .head {
            padding: 20px;

            div.couple {
                display: flex;
                justify-content: space-between;
            }

            dl {
                display: flex;

                dt {
                    padding-right: 5px;
                }

                dd {}
            }
        }

        .body {
            padding: 20px;

            p {
                word-break: break-all;
            }

            table {
                border: 1px solid #3A3A3A;
                width: 100%;

                tbody {
                    tr {
                        text-align: left;
                        border-top: 1px solid #3A3A3A;
                        color: #272727;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            background-color: #3B484E;
                        }

                        th,
                        td {
                            padding: 12px;

                            &.marked {
                                i {
                                    color: #d5d5d5;

                                    &:hover {
                                        color: #e0e400;
                                    }
                                }

                                &.active {
                                    i {
                                        color: #e0e400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}