@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@font-face {
  font-family: 'Gordita';
  src: url("../../../../lib/fonts/Gordita/Gordita Bold.woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../../../lib/fonts/Gordita/Gordita Medium.woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../../../lib/fonts/Gordita/Gordita Light.woff");
  font-weight: 300;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

section {
  background: #45caff;
  background: linear-gradient(132deg, #45caff 0%, #00aaee 100%);
  min-height: 100vh;
  width: 100%;
}

.navbar {
  background-color: #fff;
  padding: 0;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar ul::-webkit-scrollbar {
  display: none;
}

.navbar ul li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 84px;
  padding-bottom: 20px;
}

.navbar ul li .item {
  color: #8a8c91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 145px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar ul li .item:hover {
  background-color: #edf3ff;
}

.navbar ul li .item svg {
  fill: #8a8c91;
  color: #8a8c91;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: auto;
  overflow: hidden;
  height: 24px;
  width: 24px;
  margin-bottom: 8px;
}

.navbar ul li .item small {
  font-size: 12px;
}

.download .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .wrapper .content {
  margin-top: 50px;
  text-align: center;
}

.download .wrapper .content h4 {
  word-break: break-word;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  font-family: 'Gordita', sans-serif;
}

@media screen and (max-width: 576px) {
  .download .wrapper .content h4 {
    font-size: 32px;
  }
}

@media screen and (max-width: 300px) {
  .download .wrapper .content h4 {
    font-size: 28px;
  }
}

.download .wrapper .content h4 a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #daecff;
}

.download .wrapper .content h4 a:hover {
  color: #daecff;
}

.download .wrapper .content .button-group {
  padding-top: 15%;
  padding-bottom: 8px;
}

.download .wrapper .content .button-group .btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0.75rem;
  height: 7em;
  width: 7em;
  background-color: #fff;
  color: #45caff;
  padding-top: 15px;
  border-radius: 0.5rem;
}

.download .wrapper .content .button-group .btn:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15);
}

.download .wrapper .content .button-group .btn svg {
  font-size: 3rem;
}

.download .wrapper .content .show_other {
  font-size: small;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #f8f8f8;
  opacity: 0.6;
}

.download .wrapper .content .show_other:hover {
  opacity: 1;
}

.page-2 {
  pointer-events: none;
  z-index: -1;
}

.slide-out {
  -webkit-animation: slide-out 0.5s forwards;
          animation: slide-out 0.5s forwards;
}

.slide-in {
  -webkit-animation: slide-in 0.5s forwards;
          animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
}

@-webkit-keyframes slide-out {
  0% {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

.container-fluid footer {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: #caced1 !important;
}

.container-fluid footer a {
  color: #caced1;
  text-decoration: none;
}

.container-fluid footer a:hover {
  color: #66c37c;
}

.container-fluid footer p {
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.container-fluid footer h3 {
  font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important;
}

.container-fluid footer .color-text {
  color: #757575 !important;
}

.container-fluid footer li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid footer .brand {
  font-size: 24px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.container-fluid footer .row-1 {
  background-color: #1C6785;
}

.container-fluid footer .row-2 {
  background-color: #187094;
}

.container-fluid footer .social {
  font-size: 1rem;
}

.container-fluid footer .social a {
  text-decoration: none;
  color: #caced1;
  letter-spacing: 8px;
  font-size: 1.2rem;
}

.container-fluid footer .social a:hover {
  color: #66c37c;
}
/*# sourceMappingURL=main.css.map */