@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("../../../../lib/fonts/Gordita/Gordita.css");
body {
  font-family: 'Gordita', sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  width: 100%;
  min-height: 82px;
  direction: ltr;
}

.navbar ul {
  width: auto;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar ul.touch::-webkit-scrollbar {
  display: none;
}

.navbar ul li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 84px;
  padding-bottom: 20px;
}

.navbar ul li .item {
  color: #8a8c91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 145px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar ul li .item:hover {
  background-color: #edf3ff;
  color: #45caff;
}

.navbar ul li .item:hover svg {
  color: #45caff;
  fill: #45caff;
}

.navbar ul li .item svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #8a8c91;
  color: #8a8c91;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: auto;
  overflow: hidden;
  height: 24px;
  width: 24px;
  margin-bottom: 8px;
}

.navbar ul li .item small {
  font-size: 12px;
}

.download {
  background: #45caff;
  background: linear-gradient(132deg, #45caff 0%, #00aaee 100%);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.download .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .wrapper .content {
  margin-top: 50px;
  text-align: center;
}

.download .wrapper .content h4 {
  word-break: break-word;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  font-family: 'Gordita', sans-serif;
}

@media screen and (max-width: 576px) {
  .download .wrapper .content h4 {
    font-size: 32px;
  }
}

@media screen and (max-width: 300px) {
  .download .wrapper .content h4 {
    font-size: 28px;
  }
}

.download .wrapper .content h4 a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #daecff;
}

.download .wrapper .content h4 a:hover {
  color: #daecff;
}

.download .wrapper .content .button-group {
  padding-top: 15%;
  padding-bottom: 8px;
}

.download .wrapper .content .button-group .btn {
  font-weight: 300;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 0.75rem;
  height: 7em;
  width: 7em;
  background-color: #fff;
  color: #45caff;
  padding-top: 15px;
  border-radius: 0.5rem;
}

.download .wrapper .content .button-group .btn:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.15);
}

.download .wrapper .content .button-group .btn svg {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
  color: #45caff;
  fill: #45caff;
  margin-right: auto;
  margin-left: auto;
}

.download .wrapper .content .ns {
  color: #f8f8f8;
}

.download .wrapper .content .show_other {
  display: block;
  font-size: small;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #f8f8f8;
  opacity: 0.6;
}

.download .wrapper .content .show_other:hover {
  opacity: 1;
}

.download .wrapper .content .return {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 30px;
  display: block;
  text-align: center;
  color: #f8f8f8;
}

.download .wrapper .content .return span {
  color: #fff;
  text-decoration: underline;
}

.info {
  padding: 90px 0px 120px 0px;
}

@media (max-width: 1024px) {
  .info {
    padding: 50px 30px 50px 30px;
  }
}

@media (max-width: 767px) {
  .info {
    padding: 30px 15px 30px 15px;
  }
}

.info h1 {
  text-align: center;
}

.info h2 {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 25px;
}

.info ul li {
  list-style: none;
}

.container-fluid footer {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: #caced1 !important;
}

.container-fluid footer a {
  color: #caced1;
  text-decoration: none;
}

.container-fluid footer a:hover {
  color: #66c37c;
}

.container-fluid footer p {
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.container-fluid footer h3 {
  font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important;
}

.container-fluid footer .color-text {
  color: #757575 !important;
}

.container-fluid footer li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid footer .brand {
  font-size: 24px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.container-fluid footer .row-1 {
  background-color: #1C6785;
}

.container-fluid footer .row-2 {
  background-color: #187094;
}

.container-fluid footer .social {
  font-size: 1rem;
}

.container-fluid footer .social a {
  text-decoration: none;
  color: #caced1;
  letter-spacing: 8px;
  font-size: 1.2rem;
}

.container-fluid footer .social a:hover {
  color: #66c37c;
}
/*# sourceMappingURL=main.css.map */